{% extends 'log_app/main.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form action="{% url 'log_users:register' %}" method="post">
    {% csrf_token %}
    <!-- alert for passwords not matching -->
    <div id="pw_match_alert" class="alert alert-warning" role="alert" style="display: none">
        Passwords don't match!
    </div>
    {% if warning %}
    <div id="pw_match_alert" class="alert alert-warning" role="alert" style="display: none">
        {{warning}}
    </div>
    {% endif %}
    <!-- username -->
    <div class="form-group">
        <label for="input_username">Username</label>
        <input type="text" class="form-control" id="input_username" name="username" placeholder="Enter username" required>
    </div>
    <!-- email -->
    <div class="form-group">
        <label for="input_email">Email</label>
        <input type="email" class="form-control" id="input_email" name="email" placeholder="Enter email" required>
    </div>
    <!-- password -->
    <div class="form-group">
        <label for="input_password">Password</label>
        <input type="password" class="form-control" id="input_password" name="password" placeholder="Enter password" required >
    </div>
    <!-- retype password -->
    <div class="form-group">
        <label for="input_retype_pw">Retype Password</label>
        <input type="password" class="form-control" id="input_retype_pw" name="retype_pw" placeholder="Retype password" required >
    </div>
    <!-- submit button -->
    <button id="submit_btn" type="submit" class="btn btn-primary">Submit</button>

</form>
<script type="text/javascript">
    let submit_btn = document.querySelector('#submit_btn')
    let input_password = document.querySelector('#input_password')
    let input_retype_pw = document.querySelector('#input_retype_pw')
    let pw_match_alert = document.querySelector('#pw_match_alert')
    submit_btn.addEventListener('click', function(event) {
        // prevent form submission if passwords don't match
        if (input_password.value != input_retype_pw.value) {
            event.preventDefault()
            pw_match_alert.style.display = ''
        }
    })
</script>
{% endblock %}