{% extends 'log_app/main.html' %}

{% block title %}Workout{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Fitness Log</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'log_users:profile' %}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'log_app:add_exercise' %}">New Exercise</a>
            <a class="nav-item nav-link" href="{% url 'log_app:workout_history' %}">Workout History</a>
            <a class="nav-item nav-link" href="{% url 'log_users:logout' %}">Logout</a>
        </div>
    </div>
</nav>
<h1>Current Workout</h1>
<!-- display workout in table -->
<table>
    <tr>
        <th><b>Exercise</b></th>
        <th><b>Set 1</b></th>
        <th><b>Set 2</b></th>
        <th><b>Set 3</b></th>
        <th><b>Set 4</b></th>
    </tr>
    {% for exercise in exercises %}
    <tr>
        <td>{{exercise.name}}</td>
        <td>{{exercise.set1_reps}} x {{exercise.set1_weight_lifted}}</td>
        <td>{{exercise.set2_reps}} x {{exercise.set2_weight_lifted}}</td>
        <td>{{exercise.set3_reps}} x {{exercise.set3_weight_lifted}}</td>
        <td>{{exercise.set4_reps}} x {{exercise.set4_weight_lifted}}</td>
    </tr>
    {% endfor %}
</table>

<!-- <ul>
    {% for exercise in exercises %}
    <li>{{exercise.name}} | {{exercise.set1_reps}} x {{exercise.set1_weight_lifted}} | {{exercise.set2_reps}} x
        {{exercise.set2_weight_lifted}} | {{exercise.set3_reps}} x {{exercise.set3_weight_lifted}} |
        {{exercise.set4_reps}} x {{exercise.set4_weight_lifted}} |<hr class="solid"></li>
    {% endfor %}
</ul> -->
{% endblock %}