<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>FitnessLog - {% block title %}{% endblock %}</title>
    <!-- vue and ajax cdns -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="{% static 'log_app/js/secrets.js' %}"></script>
</head>
<style>
    h1 {
        font-family: 'Cardo', serif;
    }
    hr.solid {
        border-top: 3px solid #bbb;
    }
    /* th {
        text-align: -webkit-center;
    } */
    table {
        margin: auto;
        width: 90%;
        border-collapse: collapse;
    }
    table, td, th {
        border: 1px solid black;
        text-align: -webkit-center;
    }
</style>

<body>
    <div class="container">
        <!-- As a heading -->
        <!-- <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Fitness Log</span>
        </nav> -->
        <!-- As a link -->
        <!-- <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
        </nav> -->
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div class="footer">
                <span class="text-muted">&copy; Class Armadillo 2020</span>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    </div>
    <!-- <script>
        axios({
            method: 'get',
            url:"https://wger.de/api/v2/exercise?category=11&language=2&license_author=wger.de",
            headers: {Authorization: wger_api_key},
        })
        .then(response => {
            console.log(response.data)
            exercises = response.data
        })
        .catch(err => {
            console.log(err)
        })
        // axios({
        //     method: 'get',
        //     url:"https://wger.de/api/v2/exercisecategory/",
        //     headers: {Authorization: wger_api_key},
        // })
        // .then(response => {
        //     console.log(response.data)
        //     exercise_categories = response.data
        // })
        // .catch(err => {
        //     console.log(err)
        // })
    </script> -->
</body>

</html>