{% extends 'log_app/main.html' %}

{% block title %}Workout History{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Fitness Log</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'log_users:profile' %}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'log_app:add_exercise' %}">New Exercise</a>
            <a class="nav-item nav-link" href="{% url 'log_users:logout' %}">Logout</a>
        </div>
    </div>
</nav>

<h1>Workout History</h1>

{% endblock %}